.story{
    position: relative;
    border-radius: 50%;
    overflow: hidden;

    
}
.story::before{
    content: '';
    position: absolute;
    inset: -10px -10px;
    background: linear-gradient(120deg, orange, deeppink);
}


.story::after{
    content: '';
    position: absolute;
    display: block;
    inset: 6px;
    border-radius: 50%;
    z-index: 1;
}
.contentstory{
    position: absolute;
    inset: 10px;
    font-size: 30px;
    font-weight: 700;
    z-index: 3;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}