.conteiner{
    width: 99vw;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #552463;
    padding: 15px;
    color:white;
    box-sizing: border-box;
}
@media screen and (max-width:1000px)
{
    .conteiner{
        height: auto;
        padding: 15px  0;
    }
    .conteiner h5, .conteiner h6{
        font-size: 11px;
    }
}