.conteiner{
    width: 99vw;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #552463;
    padding: 15px;
    color:white;
    box-sizing: border-box;
}
