.conteiner{
    width: 99vw;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-image: linear-gradient(120deg, rgb(241, 185, 245), #22042C );
    margin: 0;
}
.imagens{
    max-width: 80%;
    -webkit-box-shadow: 10px 10px 38px 0px rgba (0,0,0,0,75) ;
-moz-box-shadow: 10px 10px 38px 0px rgba (0,0,0,0,75) ;
box-shadow: 10px 10px 38px 0px rgba (0,0,0,0,75) ;
border-radius: 15px;
}
.imagens img{
    border-radius: 15px;
    max-height: 90vh;
    max-width: 90vw;
}
.imghero{
    width: 99vw;
    height: auto;
    background-size: 100%;
    background-position: 0 -100px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: left;
    color:#fff;
}
.imghero h1{
    font-size: 55px;
    font-weight: bold;
}
.imghero p {
    font-size: 25px;
}

@media screen and (max-width:1000px){
    .conteiner{
        width: 100vw;
        margin: 0;
        padding: 0;
        padding-bottom: 10px;
        
    }
    .imagens{
        width: 90%;
        padding: 0;
        margin: 0;
        max-height: 95vh;
    }
    .imagens img{
        max-height: 90vh;
    }
    .imghero{
        width: 100%;
        height: auto;
        margin: 10px;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: 100%;
        background-position: initial;
       
    }
    .imghero h1{
        font-size: 45px;
        font-weight: bold;
    }
    .imghero p{
        display: none;
    }
    .imghero h1::after{
        transform: translate(0);

    }
}
