.conteiner{
    width: 99vw;
    padding:5% 0;
    background-color: #22042c;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
    color:white;
    box-sizing: border-box;
    
}
.conteiner svg{
    font-size: 40px;
    margin-bottom: 15px;
}
.conteiner h1::after{
    content: '';
    display: block;
    width: 20%;
    height: 2px;
    background-color: #fff;
    margin: 10px auto;

}
.conteiner div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:2%;
    padding: 0;
    margin: 20px 0;
    
}
.conteiner div span a{
    
    padding: 20px;
    width: 90%;
    margin: 20px auto;
    display: block;border-radius: 15px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background-color: #22042c;
    transition: 0.5s;
}
.conteiner div span a:hover{
    background-color: #e298f2;
}

.conteiner div span{
    width: 30%;
    background-image: linear-gradient(120deg, #552463 0%, #320841 100%);
    padding: 2% 2%;
    border-radius: 10px;
    color:#e298f2;
    height: 100%;
}
@media screen and (max-width:1000px){
    .conteiner{
        width: 100vw;
    }
    .conteiner div{
        flex-direction: column;
    }
    .conteiner div span{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        width: 80%;
        padding: 30px 30px;
        margin: 10px 0;
    }
}
