.heroimage{
    width: 99vw;
    height: 350px;
    background-image: url("../../assets/microfone.jpg");
    background-size: 100%;
    display: flex;
    flex-direction: column;
    color:white;
    justify-content: center;
    align-items: center;
    align-content: center;
    box-sizing: border-box;
}
.heroimage h1{
    font-size: 6vw;
    color: white;
    text-transform: capitalize;
    margin: 0;
}
.heroimage h1::after{
    content: '';
    display: block;
    width: 80%;
    height: 4px;
    background-color: rgba(255,255,255,0.5);
    margin: 0 auto;

}
.content{
    width: 100%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2%;
    background-color: #22042C;
}
.content h6{
    color:#fff;
    margin: 22px 0 0 0 ;
}
.content audio{
    width: 40%;

    margin: 10px;
}
@media screen and (max-width:1000px){
    .heroimage{
        width: 100vw;
        background-position: initial;
        background-repeat: no-repeat;
        padding: 10% 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
    }
    .heroimage h1{
        font-size: 45px;
        font-weight: bold;
    }
    .heroimage p{
        color:deeppink;
        font-weight: bold;
    }
    .content audio{
        width: 90%;
    }
}
