.menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    position: fixed;
    color:white;
    padding: 10px;
    gap: 3%;
    background:rgba(34,4,44,0.15);
}
.menu a {
    color:white;
    text-decoration: none;
    font-weight: 100;
    font-family: Montserrat;
}