.box{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:5%;
    color:#fff;
    font-size: 20px;
    margin: 0;
}
.box a{
    font-size: 20px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#FFF;
    
}
.box a:hover{
    transform: scale(1.3);
    transition: 0.5s;
    border: none;
    background-color: #FFF;
}
.box a:nth-child(1){
    background-color: #1778F2;
}
.box a:nth-child(1):hover{
    color:#1778F2;
    background-color: #FFF;
}
.box a:nth-child(2){
    background-color: deeppink;
}
.box a:nth-child(2):hover{
    color:deeppink;
    background-color: #FFF;
}
.box a:nth-child(3){
    background-color: #4FCE5D;
}
.box a:nth-child(3):hover{
    color:#4FCE5D;
    background-color: #FFF;
}
.box a:nth-child(4){
    background-color: #f00;
}
.box a:nth-child(4):hover{
    color:#f00;
    background-color: #FFF;
}


