.conteiner{
    width: 100%;
    height: 120px;
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
    padding-left: 4%;
    
    gap:4%;
}
.conteiner span{
    display: inline-block;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: 
        radial-gradient(rgba(0,0,0,0.15) 60%, transparent 0),
        radial-gradient(white 65%, transparent 0),
        radial-gradient(to top right, orange, deeppink);

}
